@import "./Colors.scss";

@media all {
  .password {
    .caixa_senha {
      .senha {
        width: 55px;
        height: 40px;
        border-bottom-left-radius: 8px 2px;
        border-bottom-right-radius: 8px 2px;
        // border-bottom: 5px solid $cor_5 !important;
        border-bottom: 5px solid;
      }

      .numSenha {
        width: 15px;
        height: 15px;
        background-color: $cor_1;
        border-radius: 50px;
      }
    }

    .caixa_digitos {
      .button_digitos {
        border: none;
        border-radius: 50px;
        width: 60px !important;
        height: 45px;
        font-weight: 600 !important;
        font-family: Montserrat;
        font-size: 10pt;
      }

      .backspace {
        font-size: 1.50em;
      }
    }
  }
}