@import "./Colors.scss";

// Style Old
@media all {
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 12px;
    margin: 5px;
    cursor: pointer;
  }

  .custom-file-caixa {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    margin: 0 0 0 0;
    padding: 2px 0;
  }

  .botoesDeposito {
    margin: 5px 20px;
    width: 300px !important;
    background-color: $cor_5 !important;
    border-color: $cor_3 !important;
    color: $cor_6 !important;
    height: 110px;
    border-radius: 7px;
    border-bottom: 10px solid $cor_1 !important;
  }

  .iconDeposito {
    font-size: 3em;
    color: $cor_1 !important;
    margin: 15px 10px;
    float: left;
  }

  .tituloBotoes {
    font-size: 20px;
    margin: -10px 21px 0 0;
  }

  .btnProcurarDeposito {
    background-color: $cor_5 !important;
    border-color: $cor_3 !important;
    color: $cor_6 !important;
    border-bottom: 0.3rem solid $cor_1 !important;
    width: auto !important;
  }
  .baixarBoletoDeposito {
    float: right !important;
    margin: 5px 20px;
    background-color: $cor_5 !important;
    border-color: $cor_3 !important;
    color: $cor_6 !important;
    border-bottom: 0.3rem solid $cor_1 !important;
    width: auto !important;
    font-size: 16px;
  }

  .btnDepositoSucesso {
    background: transparent;
    color: $cor_6;
    border: 1px solid $cor_1;
    border-bottom: 5px solid $cor_1;
    
  }

  .btnDepositoSucesso:hover,
  .btnDepositoSucesso:focus {
    background-color: $cor_1;
    border-color: $cor_6;
  }

  .btnDepositoCancelar {
    background: transparent;
    color: $cor_6;
    border: 1px solid red;
    border-bottom: 5px solid red;
    
  }

  .btnDepositoCancelar:hover,
  .btnDepositoCancelar:focus {
    background-color: red;
    border-color: $cor_3;
  }
}

// Style New
@media all {
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 12px;
    margin: 5px;
    cursor: pointer;
  }

  .custom-file-caixa {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    margin: 0 0 0 0;
    padding: 2px 0;
  }

  .botoesDeposito_new {
    margin: 5px 20px;
    width: 300px !important;
    background-color: $cor_2 !important;
    border-color: $cor_3 !important;
    color: $cor_6 !important;
    height: 110px;
    border-radius: 7px;
    border-bottom: 10px solid $cor_1 !important;
  }

  .iconDeposito_new {
    font-size: 3em;
    color: $cor_6 !important;
    margin: 15px 10px;
    float: left;
  }

  .tituloBotoes_new {
    font-size: 20px;
    margin: -10px 21px 0 0;
  }

  .btnProcurarDeposito_new {
    background-color: $cor_5 !important;
    border-color: $cor_3 !important;
    color: $cor_6 !important;
    border-bottom: 0.3rem solid $cor_1 !important;
    width: auto !important;
  }

  .baixarBoletoDeposito_new {
    float: right !important;
    margin: 5px 20px;
    background-color: $cor_5 !important;
    border-color: $cor_3 !important;
    color: $cor_6 !important;
    border-bottom: 0.3rem solid $cor_1 !important;
    width: auto !important;
    font-size: 16px;
  }

  .btnDepositoSucesso {
    background: transparent;
    color: $cor_6;
    border: 1px solid $cor_1;
    border-bottom: 5px solid $cor_1;
    
  }

  .btnDepositoSucesso_new:hover,
  .btnDepositoSucesso_new:focus {
    background-color: $cor_1;
    border-color: $cor_6;
  }

  .btnDepositoCancelar_new {
    background: transparent;
    color: $cor_6;
    border: 1px solid red;
    border-bottom: 5px solid red;
    
  }

  .btnDepositoCancelar_new:hover,
  .btnDepositoCancelar_new:focus {
    background-color: red;
    border-color: $cor_3;
  }
}
