@import "./Colors.scss";

@media all {
  .containerPerfil {
    border: 1px solid $cor_4 !important;
    background-color: $cor_7;
    padding: 20px;
    border-radius: 10px;
  }

  .containerPerfil img {
    border: 2px solid $cor_1 !important;
  }

  .title h5 {
    font-weight: 600;
  }
}
