@import "./Colors.scss";

@media all {
  // GERAL

  .login {
    overflow-x: hidden !important;
    background-image: url("../assets/images/backgrounds/fundo.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 100vh;

    // background-color: $cor_1;
    background-blend-mode: multiply;
    // background-blend-mode: luminosity;
    // background-blend-mode: hard-light;
  }

  // HEADER

  $sideMargin: 25px;
  $borderRadius: 10px;

  .barra_superior {
    height: 70px;
    background-color: $cor_3;
    background-size: cover !important;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }

  .logoLogin {
    height: 50px;
    padding-left: $sideMargin;
  }

  // COMPONENTES IMPORTADOS

  .loginLangWrapper {
    padding-right: $sideMargin;
    .langBtnWrapper {
      .langsIcon {
        fill: $cor_6;
      }
      .langBtn {
        background-color: $cor_5;
      }
      .flip-btn-front {
        background-color: $cor_5;
      }
    }
  }

  .loginPassWrapper {
    .password {
      .caixa_senha {
        .senha {
          border-color: $cor_5;
        }

        .numSenha.numSenha {
          background-color: $cor_5;
        }
      }

      .caixa_digitos {
        .button_digitos:not(:hover):not(:focus) {
          background: $cor_5;
          color: $cor_6;
        }
      }
    }
  }

  // BODY

  $titleFont: 22pt;
  // $windowHeight: 450px;

  h1 {
    font-family: GantariLight;
    color: $cor_1;
    font-size: $titleFont !important;
    line-height: 1em;
    // white-space: pre-wrap;
  }

  h2 {
    font-size: 11pt !important;
    color: $cor_5;
  }

  .divisoria {
    height: 0.5px;
    width: 100%;
  }

  .cadastropj {
    // height: $windowHeight;
    // width: $windowHeight * 2;
    max-width: 800px;
    border-radius: 10px;

    padding: $sideMargin;
    background-color: $cor_3;

    .divisoria {
      background-color: $cor_5;
    }

    label {
      color: $cor_5;
    }

    .botaologin {
      height: 50px;
      width: 65%;
      border: 0;
      border-radius: $borderRadius;
      color: $cor_2;
      font-size: 12pt;
      font-weight: 800 !important;

      background: linear-gradient(to left, $cor_1 50%, $cor_4 50%) right;
      background-size: 200%;
      transition: 0.3s ease-out;
    }

    .ttAgencia {
      color: $cor_4;
      font-size: 18px;
      font-weight: 500;
      line-height: 35px;
    }
  }

  // .loadingLogin {
  //   display: block;
  //   margin: auto;
  //   // color: $cor_1 !important;
  // }
}
